body,
ul,
li,
p {
  margin: 0px;
  padding: opx;
  list-style: none;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: orange;
  transition: 0.3s all;
}

.header {
  background-color: #4f5928;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
}
header img {
  /* imagem logotipo */
  width: 5%; /* tamanho */
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px; /* espaço entre as linhas */
}

.menu a {
  display: block;
  padding: 5px;
  text-align: center;
}

h1 {
  text-align: center;
}
body{
  background: linear-gradient(90deg, rgba(28,38,17,1) 0%, rgba(143,166,63,1) 35%, rgba(191,154,132,1) 100%);
  color: white;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 800px;
  overflow: hidden;
}

.flex > div {
  /* cada foto */
  flex: 1 1 250px;
  margin: 10px;
}

footer {
  background-color: #4f5928;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  color: white;
}
